@font-face {
  font-family:'FleurDeLeah' ;
  src: url(../font/FleurDeLeah-Regular.ttf) format(opentype);
}

* {
    margin: 0;
    font-family: 'FleurDeLeah';
}

body
{
      background-color: rgba(0, 0, 0, 0.884);
}

/********************************VIDEO FOND D ECRAN**********************************/

#video {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    border-bottom: 5px outset rgb(139, 105, 18);
}

#video video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
    opacity: 80%;
}

/********************************NAVIGATION**********************************/

:root {
    --home-bg-color: black;
    --menu-bg-color: black;
    --silde-btn-border: black;
    --slide-btn-bg: black;
    --slide-btn-hoverbg: black;
    --alpha-green: black;
    --icon-hover-color: black;
    --icon-hover-bg: black;
    --text-color: black;
    --border-color: rgb(168, 143, 78);
    --heading-color: black;
    --box-shadow-color: black;
    --lightest-green: grey;
    --light-green: black;
    --dark-green: rgba(0, 0, 0, 0.55);
    --box-shadow: 0px 0px 3px 5px var(--box-shadow-color);
    --border-radius: 60px 5px;
    --fade-green: black;
  }

  *,
  *::before,
  *::after {
    list-style: none;
  }
 
  #ham-menu {
    display: none;
  }

  label[for="ham-menu"] {
    display: block;
    position: fixed;
    top: 24px;
    left: 20px;
    z-index: 999;
    width: 60px;
    height: 60px;
    background-color: var(--home-bg-color);
    border-radius: 15px;
    border: 2px solid var(--border-color);
    margin-top: 3rem;
  }

  .ham-menu {
    width: 50vw;
    height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;
    transform: translate(-110%);
    z-index: 998;
    background-color: var(--lightest-green);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #ham-menu:checked ~ div.ham-menu {
    transform: translate(0px);
    visibility: visible;
  }

  [for="ham-menu"] > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
  }

  .menu-line {
    display: block;
    width: 17px;
    height: 2px;
    margin: 10px 0 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: var(--border-color);
    transition: 500ms;
    transform-origin: right center;
  }

  [for="ham-menu"] > div > span:nth-child(4),
  [for="ham-menu"] > div > span:nth-child(5),
  [for="ham-menu"] > div > span:nth-child(6) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transform-origin: left center;
  }

  #ham-menu:checked + label span:nth-child(2),
  #ham-menu:checked + label span:nth-child(5) {
    transform: scale(0);
  }

  #ham-menu:checked + label span:nth-child(1) {
    transform: translateY(17px) rotate(45deg);
  }

  #ham-menu:checked + label span:nth-child(4) {
    transform: translateY(17px) rotate(-45deg);
  }

  #ham-menu:checked + label span:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
  }

  #ham-menu:checked + label span:nth-child(6) {
    transform: translateY(-17px) rotate(45deg);
  }

  a {
    font-size: 1.6rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    display: inline;
    font-weight: bold;
    padding: 7px;
    color: var(--icon-hover-bg);
  }

  .centre-text {
    text-align: center;
  }

  li, a{
    text-decoration: none;
  }

  @media screen and (min-width: 320px) {
    li > a{
      font-size: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    li > a{
      font-size: 20px;
    }
  }

  @media screen and (min-width: 1440px) {
    li > a{
      font-size: 30px;
    }
  }